
body{
	background-image: url(./img/background.jpg);
	font-family: 'IBM Plex Mono'; 
	height: auto;
	width: auto;

 /* opacity: 90%; no bcg? */
 
}

.img-header{
	display: flex;
	justify-content: center;
	
}

.main{
	width: 95%;
	margin: 1rem 2rem;	
	align-items: center;
	margin-bottom: 1rem;
}

.main{
	width: 95%;
	margin: auto;	
	margin-top:5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0rem 0rem 0rem;
	gap: 10px;
}

.nav-bar{
	background-color: rgb(255, 255, 255);
	padding: .1rem;
	font-size: larger;
	opacity: 70%;
}

.listNav, .itemNav a{
  display: flex;
	justify-content: space-around;
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	font-size: small;
	font-weight: 600;
	font-family: 'IBM Plex Mono', monospace; 
	align-items: center;
	opacity: 100%;

}

.listNav{
	/* nova inserção */
  margin: 1rem 2rem;
	padding: 0rem;

}
.listNav a:hover, footer a:hover, .jogos:hover{
	font-size: larger;
 	cursor: pointer; 
}

.jogos a.invisible{
	display: none;

}
.jogos:hover a.invisible, a.invisible{
	display: block;
	font-size: x-small;

}

footer{
	font-family: 'IBM Plex Mono', monospace; 
	text-align: center;
	/* igual ao nav - aqui parece mais escuro */
	background-color: rgb(255, 255, 255);
	padding: .5px;
	font-size: larger;
	opacity: 60%;
	margin-top: .5rem; /*quebra entre os cards e o footer*/

}
footer h4{
	margin: .8rem;
	opacity: 100%;
}
footer a{
	color: #3ADFAD;
	text-decoration: none;
	font-weight: 600;
}