body {
    font-size: 100%;
    background-color: #d68d04;
    background-image: url("imagens/planodefundo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 982px;

}

.pokebola {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: block;
    cursor: pointer;
}



.clique-botao {

    text-indent: -9999px;
    width: 109px;
    height: 41px;
    ;
    align-items: center;
    align-self: flex-end;
}