/*css pokeball*/

.position-section-home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.title-home {
    font-family: 'black hans sans', sans-serif;
    font-size: 400%;
    font-weight: 900;
    margin-left: 100px;
}

.seta {
    margin-left: 180px;
    width: 150px;
    display: block;

}

.pokebola {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    display: block;
    cursor: pointer;
}