* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#homeBody {
    background-image: url("./background-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.bgHeader {
    background-image: url("./background-general.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
}

.generalBody {
    background-color: #DCF3F8;
}

.stats {
    background-color: #46A4C8;
}