*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #9ed9ff;
  font-family: "Inter", sans-serif;
  letter-spacing: 3px;
}

#logo img {
  margin: 15px;
  width: 250px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block; 
  margin-right: 10px; 
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  color: #d01c1c; /* Define a cor do texto quando o cursor passa por cima */
}

.indexIcons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 25px;
}

.filters{
  min-width: 300px;
  max-width: 1200px;
  margin: 5rem auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;  
}

 #directorOptions{
   width: 12rem;
   height: 3rem;
   background: #fff;
   border-radius: 30px;
   font-size: 1.3rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 2px;
   cursor: pointer;
   border-width: 0px;
   border-style: none;
   border-color: transparent;
   box-shadow: 0 5px 5px #a6a4a4;
 }
 
 #assessmentOption{
  width: 12rem;
  height: 3rem;
  background: #fff;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  box-shadow: 0 5px 5px #a6a4a4;
 }
 
 #orderBy{
  width: 12rem;
  height: 3rem;
  background: #fff;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  box-shadow: 0 5px 5px #a6a4a4;
 }

 /*.name {
  width: 100%;
  height: 45px;
  line-height: 45px;
  position: absolute;
  bottom: 0;
  text-align: center;
 }*/

 /*.name{
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #f4e8eb99;
  color: #000;
  font-size: 1rem;
  text-shadow: #222;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
}*/

.modalContainer {
  width: 90vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalContainer.showModal{
  display: flex;
}

.modal-content {
  background: #9ed9ff;
  width: 60%;
  height: 90%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #9ed9ff;
  position: relative;
  border-radius: 20px;
  border-color: #fff;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}

.showModal .modal {
  animation: modal .3s;
}

h1 {
  text-align: center;
  margin: 10px
}

p {
  font-size: 20px;
  text-align: justify;
}

.closeModal {
  position: absolute;
  top: 5px;
  right: 250px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #fff;
  color: #000;
  cursor: pointer;
}

.footerHome img {
  display: flex;
  width: 50px;
}

.lineDev {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pairCreators {
  display: flex;
  justify-content: center;
}
