* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*#headerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}*/

.bgHeader {
    background-image: url("./bg-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
}

#logo {
    width: 45%;
    margin-left: 30%;
    overflow: hidden;
}

.menu {
    display: flex;
    position: relative;
    margin-top: 2%;
    justify-content: center;
    gap: 15px;
} 

.menu a {
    text-decoration: none;
    color: #1A3E4B;
    font-size: 200%;
    align-items: center;
    margin-left: 5%;
}

.movie-filters {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    margin-left: 5%;
}

.filters {
    background-color: #3793b7;
    width: 20%;
    font-size: 100%;
    border-radius: 40px;
    text-align: center;
    color: white;
    border: none;
    margin-left: 2%;
    padding: 0.5%;
}

#movies-search {
    background-color: #3793b7;
    width: 20%;
    height: 10%;
    font-size: 100%;
    border-radius: 40px;
    border: none;
    padding: 0.5%;
}

::placeholder {
    color: white;
    text-align: center;
}

.generalBody {
    background-color: #DCF3F8;
}

.stats {
    background-color: #46A4C8;
    font-family: 'DM Sans', sans-serif;
    height: 50px;
    color: white;
    padding: 1% 0 0 2%;
    text-align: center;
}

/*#movieCards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 50%;
    margin: 0 10% 4% 12%;
  }

  #divCard {
    background-color: #46A4C8;
    padding: 1%;
    margin-top: 4%;
    border-radius: 2%;
    text-align: center;
    filter: drop-shadow(6px 5px 4px rgba(0, 0, 0, 0.25));

  }

  #filmPoster {
    width: 95%;
    height: 95%;
  }

  .btn {
    background: none;
    border: none;
    width: 100%;
    height: 90%;
    cursor: pointer;
  }

  #divText {
    padding: 1%;
    font-size: 90%;
  }*/

  #movieCards {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    column-gap: 3%;
    margin: 3% 8% 3% 8%;
    font-family: 'DM Sans', sans-serif;
}

#container {
    position: relative;
    width: 255px;
    height: 370px;
    margin-bottom: 5%;
    filter: drop-shadow(6px 5px 4px rgba(0, 0, 0, 0.25));
}

#card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

#container:hover #card {
    transform: rotateY(180deg);
}

#frontCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #46A4C8;
    color: white;
    text-align: center;
    border-radius: 3%;
    padding: 5% 0 47% 0;
    font-weight: 400;
    border-radius: 30px;

}

#backCard {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #46A4C8;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
    padding-top: 10%;
    padding-left: 7%;
    padding-right: 7%;
    line-height: 110%;
}

#filmPoster {
    width: 80%;
    height: 110%;
    border-radius: 25px;
    /*width: 10vw;
    height: 15vw;*/
}

@media screen and (max-width: 450px) {
    .bgHeader {
        background-size: contain;
    }

    .menu a {
        font-size: 100%;
    }

    .movie-filters {
        padding: 1%;
        margin: 0 2.5% 0 2.5%;
    }

    .filters {
        font-size: 75%;
        width: 35%;
    }

    #movies-search {
        font-size: 75%;
    }

    .stats {
        padding: 3%;
    }
}



@media screen and (max-width: 400px) {
    .bgHeader {
        background-size: contain;
    }
    
    #movies-search {
        font-size: 75%;
        width: 30%;
    }
}