/* CONFIGURAÇÃO GERAL */

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #ff9800 , #ffc340 , #fefc89);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  width: 120px;
  height: 120px;
}

h1 {
padding: 1.0%;  
margin-left: 50px;
font-family: 'Luckiest Guy';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 54px;
color: #009846;
-webkit-text-stroke-width: 2.5px;
-webkit-text-stroke-color: #070F59;
}

#return {
  background: #FF9800;
  border: 2px solid #F5F5F5;
  margin-top: 25px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

h3 {
  color: #F5F5F5;
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer {
  padding: 4%;
  text-align: center;
}

.copyright {
  color: #070F59;
  font-size: 18pt;
  font-weight: bold;
}

.container {
  display: grid;
  place-items: center;
}

.centralStructure {
  display: grid;
  margin: 0 auto;
  grid-template-rows: repeat(auto-fill, minmax(min(10rem, 100%), 3, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 3, 1fr));
  justify-content: space-evenly;
  column-gap: 100px;
  row-gap: 20px;
  height: 800px;
  width: 1700px;
  border-radius: 30px;
  background-color: #F5F5F5;
}
.paragraphs {
  padding: 3.5%;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  grid-gap: 3.5px;
}

#selectCountry , #selectOrder, #selectAge, #selectGender , #selectMedal , #selectSport , #okButton , #okButton2 , #okButton3  {
  font-family: 'Luckiest Guy';
  color: #F5F5F5;
  font-size: 20px;
  text-align: center;
}

table {
    position: absolute;
    top: 92px; 
    left: 0;
    z-index: 9999; 
    width: 100%;
    height: 800px;
    width: 1720px;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
 
  tr {
  color:#070F59
  }
  
  td, th {
    padding: 8px;
    text-align: center;
    border: 1px solid;
  }

  th {
    font-family: 'Luckiest Guy';
    background-color: #48C26E;
    font-size: 25px;
  }

/* CONFIGURAÇÃO PÁGINA HOME */

#initial{
  justify-content: start;
  margin-right: 750px;
}

.video {
  grid-row: 1 / span 2;
	grid-column: 1 / span 2;
  width: 950px;
  height: 430px;
  border-radius: 30px;
  margin-left: 80px;
  margin-top: 60px;
  background-image: url('abertura.gif');
  background-size: cover;
}

.imageMascots {
  grid-row: 1 / span 1;
	grid-column: 3 / span 1;
  width: 550px;
  height: 450px;
  border-radius: 30px;
  margin-right: 50px;
  margin-top: 50px;
  background-image: url('mascotes1.jpg');
  background-size: cover;
}

.button1 {
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
}

.button2 {
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
}

.button3 {
  grid-row: 2;
  grid-column: 3;
  justify-self: center;
}

.button4 {
  grid-row: 3;
  grid-column: 1;
  justify-self: end;
}

.button5 {
  grid-row: 3;
  grid-column: 2;
  justify-self: end;
}

.button6 {
  grid-row: 3;
  grid-column: 3;
  justify-self: center;
}

.button1 , .button2 , .button3 , .button4 , .button5 , .button6 {
 
  background: #48C26E;
  width: 380px;
  height: 90px;
  border-radius: 30px;
  cursor: pointer;
}

h2 {
  font-family: "Luckiest Guy";
  color: #F5F5F5;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

/*.yellowBackground1{
  grid-row: 1;
  grid-column: 3;
  display: grid;
  margin: 0 auto;
  grid-gap: 10px;
  background-color: #FEFC89;
  width: 1700px;
  height: 350px;
  border-radius: 0px 0px 20px 20px;
}*/

/* CONFIGURAÇÃO PÁGINA OLÍMPIADAS */

#yellowBackground2 { 
  display: grid;
  position: absolute;
  margin: 3%; 
  left: 8%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 1500px;
  height: 230px;
  border-radius: 20px;
}

#imageOlympics {
  padding-top: 35%;
  width: 500;
  height: 450px;
  grid-row: 15;
  grid-column: 4;
}

#yellowBackground3 { 
  display: grid;
  position: absolute;
  bottom: 8%;
  left: 12%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 700px;
  height: 200px;
  border-radius: 20px;
}

.dataButtons1 {
  position: absolute;
  bottom: 45%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.dataButtons2 {
  position: absolute;
  bottom: 37%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}
#okButton {
  position: absolute;
  bottom: 30%;
  left: 27%;
  background: #48C26E;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

 #aggregateCalculation{
 display: grid;
 position: absolute;
 font-family: 'Luckiest Guy';
 color: #070F59;
 font-size: 35px;
 bottom: 40%;
 margin-left: 52%;
 text-align: center;
}

#selectTheOptions1 {
  display: grid;
  position: absolute;
  font-family: 'Luckiest Guy';
  color: #000000;
  margin-left: 2%;
  font-size: 30px;
  bottom: 53%;
}

/* CONFIGURAÇÃO PÁGINA PARTICIPANTES */

#yellowBackground4 {
  display: grid;
  position: absolute;
  margin-top: 3%;
  left: 10%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 1000px;
  height: 180px;
  border-radius: 20px;
}

#imageMascots2 {
  position: absolute;
  bottom: 16%;
  right: 0%;
  padding-top: 10%;
  width: 800px;
  height: 550px;
}

#yellowBackground5 {
  position: absolute;
  bottom: 15%;
  left: 24%;
  background-color: #FEFC89;
  width: 500px;
  height: 130px;
  border-radius: 20px;
  background-color: #FEFC89;
}

.dataButtons3 {
  position: absolute;
  bottom: 55%;
  left: 26%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.dataButtons4 {
  position: absolute;
  bottom: 48%;
  left: 26%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.dataButtons5 {
  position: absolute;
  bottom: 41%;
  left: 26%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

#okButton2 {
  position: absolute;
  bottom: 33%;
  left: 33%;
  background: #48C26E;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

/*#selectTheOptions2 {
  display: grid;
  position: absolute;
  font-family: 'Luckiest Guy';
  color: #000000;
  margin-left: 2%;
  font-size: 30px;
  bottom: 53%;
}/*

/* CONFIGURAÇÃO PÁGINA MODALIDADES */

#yellowBackground6 { 
  position: absolute;
  margin: 3%; 
  left: 10%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 1300px;
  height: 180px;
  border-radius: 20px;
}

#imageMascots3 {
  position: absolute;
  bottom: 16%;
  right: 8%;
  width: 700px;
  height: 450px;
}

#yellowBackground7 {
  position: absolute;
  bottom: 8%;
  left: 15%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 700px;
  height: 160px;
  border-radius: 20px;
}
.dataButtons6 {
  position: absolute;
  bottom: 50%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}
.dataButtons7 {
  position: absolute;
  bottom: 42%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}
.dataButtons8 {
  position: absolute;
  bottom: 34%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

#okButton3 {
  position: absolute;
  bottom: 27%;
  left: 27%;
  background: #48C26E;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
#selectTheOptions3 {
  display: grid;
  position: absolute;
  font-family: 'Luckiest Guy';
  color: #000000;
  margin-left: 2%;
  font-size: 30px;
  bottom: 58%;
}

/*------------------------Implementação do responsivo*--------------*/
@media (max-width: 1024px) {
  .logo { /*CONFIGURAÇÃO GERAL*/
  width: 70px;
  height: 70px;
 }

 #yellowBackground4, #yellowBackground6 { /*Configuração - Participantes e Modalidades*/
  width: 85%;
  height: 130px;
}

.paragraphs { /*CONFIGURAÇÃO GERAL*/
  padding: 3.5%;
  font-size: 20px;
  line-height: 25px;
}

#yellowBackground5, #yellowBackground7 { /*Configuração - Participantes e Modalidades*/
  top: 85%;
  left: 10%;
  width: 60%;
  height: 105px;
}

#imageMascots2 { /*Congiguração - Participantes*/
  top: 25%;
  right: 5%;
  width: 450px;
  height: auto;
 }

 #imageMascots3 { /*Configuração - MODALIDADES*/
  top:  37%;
  right: 5%;
  width: 450px;
  height: auto;
 }

.dataButtons3, .dataButtons6 {   /*Configuração - Participantes e Modalidades*/
  bottom: 53%;
  left: 15%;
  width: 250px;
  height: 60px;
}

.dataButtons4, .dataButtons7 { /*Configuração - Participantes e Modalidades*/
  bottom: 43%;
  left: 15%;
  width: 250px;
  height: 60px;
}

.dataButtons5, .dataButtons8 { /*Configuração - Participantes e Modalidades*/
  left: 15%;
  width: 250px;
  height: 60px;
}

#okButton2, #okButton3 { /*Configuração - Participantes e Modalidades*/
  bottom: 24%;
  left: 22%;
}

#selectTheOptions3 { /*Configuração - Modalidades*/
  margin-left: 2%;
  font-size: 15px;
  bottom: 62%;
}
}

/*------------------------xxxxxxxxxxxxxxxxxxxx--------------*/

@media (max-width: 688px) { 
  .logo { /*CONFIGURAÇÃO GERAL*/
    margin-top: 8px;
  }

   header { /*CONFIGURAÇÃO GERAL*/
    display: flex;
    justify-content: start;
   }

   #return { /*CONFIGURAÇÃO GERAL*/
   display: none;
  }

   h1 { /*CONFIGURAÇÃO GERAL*/
    margin-top: 17px;
    font-weight: 200px;
    font-size: 50px;
    line-height: 24px;
   }

   #imageMascots2, #imageMascots3 { /*Configuração - Participantes e Modalidades*/
    top: 35%;
    right: 1%;
    width: 350px;
    height: auto;
   }

   #yellowBackground5,  #yellowBackground7 { /*Configuração - Participantes e Modalidades*/
    height: 118px;
  }

   .dataButtons3, .dataButtons6 {   /*Configuração - Participantes e Modalidades*/
    bottom: 63%;
    left: 15%;
  }
  
  .dataButtons4, .dataButtons7 { /*Configuração - Participantes e Modalidades*/
    bottom: 53%;
    left: 15%;
    
  }
  
  .dataButtons5, .dataButtons8 { /*Configuração - Participantes e Modalidades*/
    bottom: 43%;
    left: 15%;
    
  }
  
  #okButton2, #okButton3 { /*Configuração - Participantes e Modalidades*/
    bottom: 34%;
    left: 24%;
  }

  #selectTheOptions3 { /*Configuração -  Modalidades*/
    bottom: 71%;
  }
  
  .copyright { /*CONFIGURAÇÃO GERAL*/
    font-size: 8pt;
  }

}
/*------------------------xxxxxxxxxxxxxxxxxxxxxxxxxxxx--------------*/
@media (max-width: 480px) {
   
  h1 { /*CONFIGURAÇÃO GERAL*/
    font-size: 30px;
  }
  
  .centralStructure { /*CONFIGURAÇÃO GERAL*/
    width: auto; 
    height: 955px;
  }

  #yellowBackground4, #yellowBackground6 { /*Configuração - Participantes e Modalidades*/
    width: 83%;
    height: 190px;
  }

  .paragraphs { /*CONFIGURAÇÃO GERAL*/
    padding: 3.5%;
    font-size: 18px;
  }

  #yellowBackground5, #yellowBackground7 { /*Configuração - Participantes e Modalidades*/
    top: 80%;
    width: 80%;
    height: 120px;
  }

  #imageMascots2 { /*Configuração - Participantes*/
    top: 92.5%;
    left: 18%;
    width: 250px;
    }

   #imageMascots3 { /*Configuração - Participantes*/
      top: 100%;
      left: 15%;
      width: 300px;
      }

    .dataButtons3, .dataButtons6 {   /*Configuração - Participantes e Modalidades*/
      bottom: 53%;
      left: 15%;
      }
    
    .dataButtons4, .dataButtons7 { /*Configuração - Participantes e Modalidades*/
      bottom: 43%;
      left: 15%;
   
    }
    
    .dataButtons5, .dataButtons8 { /*Configuração - Participantes e Modalidades*/
      bottom: 33%;
      left: 15%;
    
    }
    
    #okButton2, #okButton3 { /*Configuração - Participantes e Modalidades*/
      bottom: 24%;
      left: 35%;
    }

    #selectTheOptions3 { /*Configuração - Modalidades*/
      font-size: 12px;
      bottom: 62%;
    }
    
 /*------------Responsivo tabela - configuração geral-------------------------*/
  table {
    width: auto;
    height: auto;
    font-size: 10px;
} 

td, th {
  padding: 5px;
}

th {
  font-size: 25px;
}

th {
  font-size: 15px;
}

}

