body {
  margin: 0;
  padding: 0;
  background-image: url(https://giffiles.alphacoders.com/276/2766.gif);
  width: "100%";
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.conteudo-fixo {
  position: fixed;
  top: 0;
  z-index: 9999;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  flex-direction: row;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
}
.logo-site {
  width: 220px;
}
nav a {
  margin-right: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: rgb(161, 108, 35);
  cursor: pointer;
}
nav a:hover {
  color: aliceblue;
}
#jogar {
  padding: 10px;
  background-color: rgb(8, 63, 85);
  border-radius: 8px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
  text-align: center;
}
h1 {
  margin-top: 7rem;
  color: #bf8a26;
  text-shadow: -1px -1px 0px #403001, -1px 1px 0px #403001, 1px -1px 0px #403001,
    1px 0px 0px #403001;
  font-size: 0.9, 7rem;
}
p {
  color: aliceblue;
  text-align: justify;
}
#clique {
  color: rgb(161, 108, 35);
  text-decoration: none;
}
/* Estilização da <section class="menu-fixo" > menu do usuario */
.menu-fixo {
  justify-content: center;
  text-align: justify;
  align-items: center;
   display: flex;
   white-space: nowrap;
   margin: 0 auto;
   position: sticky;
   -webkit-top: calc(5%);
   top:8rem;
   z-index: 9999;
}
.menu {
  display: inline-flex;
  gap: 2rem;
  padding: 0.9rem;
}
.container {
  border-style: double;
  text-transform: uppercase;
  border-radius: 38px 0 38px 0;
  background: url(./imagens/fundoMenu.png);
  border-color: rgb(161, 108, 35);
  flex-direction: column;
  align-items: center;
}
.container li {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: aliceblue;
  list-style-type: none;
  flex-direction: column;
  font-size: 0.9rem, 9rem;
}
ul li:hover {
  color: rgb(161, 108, 35);
  cursor: pointer;
}
.busca-classifica {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
#text-busca {
  align-items: center;
  border-radius: 8px;
   border-color: rgb(161, 108, 35);
   font-weight: bold;
   border-style: double;
   background-color: rgba(8, 63, 85);
}
.selecione {
  border-radius: 8px;
  border-color: rgb(161, 108, 35);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(8, 63, 85);
  border-style: double;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}
.botao-limpar{
  border-radius: 8px;
  border-color: rgb(161, 108, 35);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1CA6A6;
  border-style: double;
  color:aliceblue;
  font-weight: bold;
  cursor: pointer;
}
#calculo-agregado {
  text-align: center;
  background-color: #BF8A26;

}
/*Estilização dos cards*/
#exibirCards {
  align-items: center;
  margin-top: 0.5rem;
  margin: 2rem;
  justify-content: center;
  text-align: center;
  position: sticky;
}
.cards {
  width: 18rem;
  height: 18rem;
  align-items: center;
  display: inline-block;
  justify-content: center;
  background-color: rgb(2, 2, 25);
  border-style: double;
  color: rgb(161, 108, 35);
  margin-bottom: 20px;
}
.card {
  align-items: center;
  background-color: rgb(2, 2, 25);
  color: rgb(161, 108, 35);
  flex-direction: column;
  transition: transform 1s;
  transform-style: preserve-3d;
  perspective: 1000px;
  position: relative;
}
.imagem-do-card {
  width: 18rem;
  height: 14rem;
  position: relative;
}
.cards:hover .card {
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-frente {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: center;
}
.card-frente,
.card-verso {
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  flex-wrap: wrap;
  display: flex;
}
.card-verso {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.info-do-card {
  list-style: none;
  font-size: 15px;
  align-items: center;
  text-align: justify;
  flex-direction: column;
}
.nome-do-verso {
  grid-row: auto;
  display: inline-flex;
  margin-left: 2px;
  flex-direction: column;
}
/* /Estilização do footer/  */
.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 0;
  width: 100%;
  bottom: 0%;
  position: sticky;
  justify-content: center;
  justify-content: space-between;
}
#devs {
  text-transform: uppercase;
}
.nome-devs {
  justify-content: center;
  text-align: justify;
  display: inline-flex;
}
footer a {
  color: rgb(161, 108, 35);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
a:hover {
  color: aliceblue;
}
#linkedin {
  text-align: center;
  width: 5%;
}

@media screen (max-width: 820px) {
  
  .info{
    -webkit-display:none;
    display: none;
  }
.menu-fixo {
  top: calc(5%);
}  
#calculo-agregado{
  margin-top: 85px;
}
.container{
    margin-bottom: 9rem;
  }
  #exibirCards {
    align-items: center;
    margin-top: 5rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .todos-campeoes{
    display: block;
  }
  .cards {
    width: 14rem;
    height: 14rem;
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
  }
  .card {
    transition: transform 3s;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    display: inline-block;
  }
  #nome-do-card{
    font-size: 0.9rem;
  }
  .imagem-do-card {
    width: 14rem;
    height: 10rem;
    position: relative;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.cards:hover .cardd-frente {
  transform: rotateY(180deg);
}
.card-verso {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  padding-top: 0;
 -webkit-transform: rotateY(-180deg);
}
.nome-verso{
  display: inline-flex;
  font-size: 0.9rem;
  margin-top: 0;
  grid-row: auto;
}
.card-frente, .card-verso {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
    position: absolute;
}
  .info-do-card{
display: block;
  }
  .rodape {
      display: none;
  }
  }