/* CONFIGURAÇÃO GERAL */

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #ff9800 , #ffc340 , #fefc89);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  width: 120px;
  height: 120px;
}

h1 {
padding: 1.0%;  
margin-left: 50px;
font-family: 'Luckiest Guy';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 54px;
color: #009846;
-webkit-text-stroke-width: 2.5px;
-webkit-text-stroke-color: #070F59;
}

#return {
  background: #FF9800;
  border: 2px solid #F5F5F5;
  margin-top: 25px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

h3 {
  color: #F5F5F5;
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

footer {
  padding: 4%;
  text-align: center;
}

.copyright {
  color: #070F59;
  font-size: 18pt;
  font-weight: bold;
}

.container {
  display: grid;
  place-items: center;
}

.centralStructure {
  margin: 0 auto;
  justify-content: space-evenly;
  height: 800px;
  width: 1700px;
  border-radius: 30px;
  background-color: #F5F5F5;
}
.paragraphs {
  padding: 3.5%;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  grid-gap: 3.5px;
}

#selectCountry , #selectOrder, #selectAge, #selectGender , #selectMedal , #selectSport , #okButton , #okButton2 , #okButton3  {
  font-family: 'Luckiest Guy';
  color: #F5F5F5;
  font-size: 20px;
  text-align: center;
}

table {
    position: absolute;
    top: 92px; 
    left: 0;
    z-index: 9999; 
    width: 100%;
    height: 800px;
    width: 1720px;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
 
  tr {
  color:#070F59
  }
  
  td, th {
    padding: 8px;
    text-align: center;
    border: 1px solid;
  }

  th {
    font-family: 'Luckiest Guy';
    background-color: #48C26E;
    font-size: 25px;
  }

/* CONFIGURAÇÃO PÁGINA HOME */

#initial{
  justify-content: start;
  margin-right: 750px;
}

#video {
  width: 950px;
  height: 430px;
  border-radius: 30px;
  margin-left: 80px;
  margin-top: 60px;
  
}

#imageMascots {
  position: absolute;
  top: 8%;
  right: 8%;
  bottom: 16%;
  margin-top: 60px;
  margin-left: 98px;
  width: 550px;
  height: 450px;
  border-radius: 30px;
}

.button1 {
  position: absolute;
  bottom: 22%;
  margin-top: 60px;
  margin-left: 80px;
}

.button2 {
  position: absolute;
  bottom: 22%;
  left: 38%;
}

.button3 {
  position: absolute;
  top: 62%;
  right: 10%;
  bottom: 16%;
  margin-top: 60px;
  margin-left: 98px;
}

.button4 {
  position: absolute;
  bottom: 10%;
  margin-top: 60px;
  margin-left: 80px;
}

.button5 {
  position: absolute;
  bottom: 10%;
  left: 38%;
}

.button6 {
  position: absolute;
  top: 74%;
  right: 10%;
  bottom: 16%;
  margin-top: 60px;
  margin-left: 98px;

}

.button1 , .button2 , .button3 , .button4 , .button5 , .button6 {
 
  background: #48C26E;
  width: 400px;
  height: 90px;
  border-radius: 30px;
  cursor: pointer;
}

h2 {
  font-family: "Luckiest Guy";
  color: #F5F5F5;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

/* CONFIGURAÇÃO PÁGINA OLÍMPIADAS */

#yellowBackground2 { 
  position: absolute;
  margin: 3%; 
  left: 8%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 1500px;
  height: 230px;
  border-radius: 20px;
}

#imageOlympics {
  padding-top: 35%;
  width: 500;
  height: 450px;
  position: absolute;
  bottom: 1%;
  right: 15%;
}

#yellowBackground3 { 
  position: absolute;
  bottom: 8%;
  left: 12%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 700px;
  height: 200px;
  border-radius: 20px;
}

.dataButtons1 {
  position: absolute;
  bottom: 45%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.dataButtons2 {
  position: absolute;
  bottom: 37%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}
#okButton {
  position: absolute;
  bottom: 30%;
  left: 27%;
  background: #48C26E;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

 #aggregateCalculation{
 position: absolute;
 font-family: 'Luckiest Guy';
 color: #070F59;
 font-size: 35px;
 bottom: 43%;
 margin-left: 50%;
 margin-right: 3%;
 text-align: center;
}

#selectTheOptions1 {
  display: grid;
  position: absolute;
  font-family: 'Luckiest Guy';
  color: #000000;
  margin-left: 2%;
  font-size: 30px;
  bottom: 53%;
}

/* CONFIGURAÇÃO PÁGINA PARTICIPANTES */

#yellowBackground4 {
  display: grid;
  position: absolute;
  margin-top: 3%;
  left: 10%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 1000px;
  height: 180px;
  border-radius: 20px;
}

#imageMascots2 {
  position: absolute;
  bottom: 16%;
  right: 0%;
  padding-top: 10%;
  width: 800px;
  height: 550px;
}

#yellowBackground5 {
  position: absolute;
  bottom: 15%;
  left: 24%;
  background-color: #FEFC89;
  width: 500px;
  height: 130px;
  border-radius: 20px;
  background-color: #FEFC89;
}

.dataButtons3 {
  position: absolute;
  bottom: 55%;
  left: 26%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.dataButtons4 {
  position: absolute;
  bottom: 48%;
  left: 26%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.dataButtons5 {
  position: absolute;
  bottom: 41%;
  left: 26%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

#okButton2 {
  position: absolute;
  bottom: 33%;
  left: 33%;
  background: #48C26E;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

#selectTheOptions2 {
  display: grid;
  position: absolute;
  font-family: 'Luckiest Guy';
  color: #000000;
  margin-left: 2%;
  font-size: 30px;
  bottom: 53%;
}

/* CONFIGURAÇÃO PÁGINA MODALIDADES */

#yellowBackground6 { 
  position: absolute;
  margin: 3%; 
  left: 10%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 1300px;
  height: 180px;
  border-radius: 20px;
}

#imageMascots3 {
  position: absolute;
  bottom: 16%;
  right: 8%;
  width: 700px;
  height: 450px;
}

#yellowBackground7 {
  position: absolute;
  bottom: 8%;
  left: 15%;
  grid-gap: 5px;
  background-color: #FEFC89;
  width: 700px;
  height: 160px;
  border-radius: 20px;
}
.dataButtons6 {
  position: absolute;
  bottom: 50%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}
.dataButtons7 {
  position: absolute;
  bottom: 42%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}
.dataButtons8 {
  position: absolute;
  bottom: 34%;
  left: 20%;
  background: #48C26E;
  width: 360px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

#okButton3 {
  position: absolute;
  bottom: 27%;
  left: 27%;
  background: #48C26E;
  width: 90px;
  height: 50px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
#selectTheOptions3 {
  display: grid;
  position: absolute;
  font-family: 'Luckiest Guy';
  color: #000000;
  margin-left: 2%;
  font-size: 30px;
  bottom: 58%;
}

/* CONFIGURAÇÃO PÁGINA CURIOSIDADES */

h4 {
  color: #000000;
  font-family: "Luckiest Guy";
  text-align: center;
  font-size: 35px;
  margin-top: 8px;
  margin-bottom: 8px;
}
#yellowBackground8 {
position: absolute;
width: 300px;
height: 55px;
background: #FEFC89;
border-radius: 20px;
margin-top: 1%;
margin-left: 12%;
}

#podio {
height: 700px;
width: 780px;
margin-top: 5%;
}

#yellowBackground9 {
position: absolute;
margin-left: 44%;
bottom: 8%;
width: 820px;
height: 715px;
background: #FEFC89;
border-radius: 20px;
}

/* CONFIGURAÇÃO PÁGINA PARALÍMPIADAS */

#paragraphsParalympics {
  height: 700px;
  width: 1050px; 
}

#yellowBackground10 {
  position: absolute;
  bottom: 6%;
  left: 12%;
  background-color: #FEFC89;
  width: 850px;
  height: 165px;
  border-radius: 20px;
}

#imageMascots4 {
  position: absolute;
  margin-left: 62%;
  bottom: 10%;
  width: 450px;
  height: 700px;
}


/*------------------------Implementação do responsivo*--------------*/
@media (max-width: 1024px) {
  .logo { /*CONFIGURAÇÃO GERAL*/
  width: 70px;
  height: 70px;
}

header { /*CONFIGURAÇÃO GERAL*/
  display: flex;
  justify-content: start;
 }

 #initial { /*Configuração - HOME*/
  justify-content: none;
  margin-right: none;
    margin-top: 17px;
    font-weight: 20px;
    font-size: 50px;
    line-height: 24px;
}
 
#video { /*Configuração - HOME*/
  width: 550px;
  height: 330px;
  margin-left: 40px;
  margin-top: 40px;
}

#imageMascots { /*Configuração - HOME*/
  right: 3%;
  margin-top: 40px;
  width: 350px;
  height: 350px;
}
h2 {
  font-size: 25px; /*Configuração - HOME*/
 }

.button1 { /*Configuração - HOME*/
  width: 300px;
  height: 90px;
  top: 55%;
  right: 67%;
}

.button2 { /*Configuração - HOME*/
  width: 300px;
  height: 90px;
  top: 63%;
  left: 35%;
}

.button3 { /*Configuração - HOME*/
  width: 300px;
  height: 90px;
  top: 55%;
  right: 3%;
}

.button4 { /*Configuração - HOME*/
  width: 300px;
  height: 90px;
  top: 75%;
  right: 67%;
}

.button5 { /*Configuração - HOME*/
  width: 300px;
  height: 90px;
  top: 82%;
  left: 35%;
}

.button6 { /*Configuração - HOME*/
  width: 300px;
  height: 90px;
  top: 75%;
  right: 3%;
}

#yellowBackground2 { /*Configuração - Olimpíadas 2016*/
  width: 85%;
  height: 200px;
}

 #yellowBackground4, #yellowBackground6 { /*Configuração - Participantes e Modalidades*/
  width: 85%;
  height: 130px;
}

.paragraphs { /*CONFIGURAÇÃO GERAL*/
  padding: 3.5%;
  font-size: 20px;
  line-height: 25px;
}

#yellowBackground3 { /*Configuração - Olimpíadas 2016*/
  top: 80%;
  left: 10%;
  width: 80%;
  height: 140px;
}

#yellowBackground5, #yellowBackground7 { /*Configuração - Participantes e Modalidades*/
  top: 85%;
  left: 10%;
  width: 60%;
  height: 105px;
}

#aggregateCalculation { /*Configuração - Olimpíadas 2016*/
  top:  48%;
  width: 450px;
  height: auto;
  font-size: 20px;
 }

#imageOlympics { /*Configuração - Olimpíadas 2016*/
  top:  6%;
  right: 10%;
  width: 300px;
  height: auto;
 }

#imageMascots2 { /*Configuração - Participantes*/
  top: 25%;
  right: 5%;
  width: 450px;
  height: auto;
 }

 #imageMascots3 { /*Configuração - Modalidades*/
  top:  37%;
  right: 5%;
  width: 450px;
  height: auto;
 }

 .dataButtons1 { /*Configuração - Olimpíadas 2016*/
  bottom: 45%;
  left: 15%;
  width: 250px;
  height: 60px;
}
 
 .dataButtons3, .dataButtons6 {   /*Configuração - Participantes e Modalidades*/
  bottom: 53%;
  left: 15%;
  width: 250px;
  height: 60px;
}

.dataButtons2 { /*Configuração - Olimpíadas 2016*/
  bottom: 35%;
  left: 15%;
  width: 250px;
  height: 60px;
}

.dataButtons4, .dataButtons7 { /*Configuração - Participantes e Modalidades*/
  bottom: 43%;
  left: 15%;
  width: 250px;
  height: 60px;
}

.dataButtons5, .dataButtons8 { /*Configuração - Participantes e Modalidades*/
  left: 15%;
  width: 250px;
  height: 60px;
}

#okButton { /*Configuração - Olimpíadas 2016*/
  bottom: 25%;
  left: 22%;
}

#okButton2, #okButton3 { /*Configuração - Participantes e Modalidades*/
  bottom: 24%;
  left: 22%;
}

#selectTheOptions3 { /*Configuração - Olimpíadas 2016, Participantes e Modalidades*/
  margin-left: 2%;
  font-size: 15px;
  bottom: 62%;
}
}

/*------------------------xxxxxxxxxxxxxxxxxxxx--------------*/

@media (max-width: 688px) { 
  .logo { /*CONFIGURAÇÃO GERAL*/
    margin-top: 8px;
  }

   header { /*CONFIGURAÇÃO GERAL*/
    display: flex;
    justify-content: start;
   }

   #return { /*CONFIGURAÇÃO GERAL*/
   display: none;
  }

   h1 { /*CONFIGURAÇÃO GERAL*/
    margin-top: 17px;
    font-weight: 200px;
    font-size: 50px;
    line-height: 24px;
   }

   #initial { /*Configuração - HOME*/
    justify-content: none;
    margin-right: none;
      margin-top: 17px;
      font-weight: 20px;
      font-size: 50px;
      line-height: 24px;
  }
   
  #video { /*Configuração - HOME*/
    width: 600px;
    height: 330px;
    margin-left: 40px;
    margin-top: 40px;
  }
  
  #imageMascots { /*Configuração - HOME*/
    right: 3%;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    top: 53%;
  }

  h2 {
   font-size: 20px;
  }
  
  .button1 { /*Configuração - HOME*/
    border-radius: 20px;
    width: 200px;
    height: 70px;
    top: 50%;
    right: 67%;
  }
  
  .button2 { /*Configuração - HOME*/
    border-radius: 20px;
    width: 200px;
    height: 70px;
    top: 65%;
    left: 4%;
  }
  
  .button3 { /*Configuração - HOME*/
    border-radius: 20px;
    width: 200px;
    height: 70px;
    top: 68%;
    right: 67%;
  }
  
  .button4 { /*Configuração - HOME*/
    border-radius: 20px;
    width: 200px;
    height: 70px;
    top: 50%;
    right: 35%;
  }
  
  .button5 { /*Configuração - HOME*/
    border-radius: 20px;
    width: 200px;
    height: 70px;
    top: 65%;
    right: 35%;
  }
  
  .button6 { /*Configuração - HOME*/
    border-radius: 20px;
    width: 200px;
    height: 70px;
    top: 68%;
    right: 35%;
  }

 #aggregateCalculation  { /*Configuração - Olimpíadas 2016*/
  top: 45%;
  width: 320px;
  height: auto;
  font-size: 18px;
 }

 #imageOlympics { /*Configuração - Olimpíadas 2016*/
  top: 25%;
  right: 1%;
  width: 320px;
  height: auto;
 }
 
 #imageMascots2, #imageMascots3 { /*Configuração - Participantes e Modalidades*/
    top: 35%;
    right: 1%;
    width: 350px;
    height: auto;
   }

  #yellowBackground3 { /*Configuração - Olimpíadas 2016, Participantes e Modalidades*/
    top: 72%;
  }
  
  #yellowBackground5,  #yellowBackground7 { /*Configuração - Olimpíadas 2016, Participantes e Modalidades*/
    top: 72%;
    height: 118px;
  }

  .dataButtons1{ /*Configuração - Olimpíadas 2016*/
    bottom: 48%;
    left: 10%;
  }

  .dataButtons2 { /*Configuração - Olimpíadas 2016*/
    bottom: 40%;
    left: 10%;
  }

  .dataButtons3, .dataButtons6 {   /*Configuração - Participantes e Modalidades*/
    bottom: 63%;
    left: 15%;
  }
  
  .dataButtons4, .dataButtons7 { /*Configuração - Participantes e Modalidades*/
    bottom: 53%;
    left: 15%;
  }
  
.dataButtons5, .dataButtons8 { /*Configuração - Participantes e Modalidades*/
    bottom: 43%;
    left: 15%;
  }
  
  #okButton, #okButton2, #okButton3 { /*Configuração - Participantes e Modalidades*/
    bottom: 34%;
    left: 24%;
  }

  #selectTheOptions1, #selectTheOptions2, #selectTheOptions3 { /*Configuração -  Olimpíadas 2016, Participantes e Modalidades*/
    bottom: 60%;
    font-size: 20px;
  }
  
  .copyright { /*CONFIGURAÇÃO GERAL*/
    font-size: 8pt;
  }

}
/*------------------------xxxxxxxxxxxxxxxxxxxxxxxxxxxx--------------*/
@media (max-width: 480px) {
   
  h1 { /*CONFIGURAÇÃO GERAL*/
    font-size: 30px;
  }
  
  .centralStructure { /*CONFIGURAÇÃO GERAL*/
    width: auto; 
    height: 955px;
  }

  #yellowBackground2 { /*Configuração - Olimpíadas 2016*/
    width: 83%;
    height: 300px;
  }
  
  #yellowBackground4, #yellowBackground6 { /*Configuração - Participantes e Modalidades*/
    width: 83%;
    height: 190px;
  }

  .paragraphs { /*CONFIGURAÇÃO GERAL*/
    padding: 3.5%;
    font-size: 18px;
  }

  #yellowBackground3 { /*Configuração - Olimpíadas 2016*/
    top: 78%;
    width: 80%;
    height: 170px;
  }

  #yellowBackground5, #yellowBackground7 { /*Configuração - Participantes e Modalidades*/
    top: 80%;
    width: 80%;
    height: 120px;
  }

  #aggregateCalculation  { /*Configuração - Olimpíadas 2016*/
    top: 99%;
    right: 15%;
    width: 280px;
  }

  #imageOlympics  { /*Configuração - Olimpíadas 2016*/
    top: 90%;
    left: 20%;
    width: 200px;
  }

  #imageMascots2 { /*Configuração - Participantes*/
    top: 92.5%;
    right: 95%;
    width: 250px;
  }

   #imageMascots3 { /*Configuração - Modalidades*/
    top: 100%;
    left: 15%;
    width: 300px;
  }

  .dataButtons1 {   /*Configuração - Olimpíadas 2016*/
    bottom: 40%;
    left: 15%;
}

  .dataButtons3, .dataButtons6 {   /*Configuração - Participantes e Modalidades*/
      bottom: 53%;
      left: 15%;
}

  .dataButtons2 { /*Configuração - Olimpíadas 2016*/
    bottom: 32%;
    left: 15%;
}  

  .dataButtons4, .dataButtons7 { /*Configuração - Participantes e Modalidades*/
      bottom: 43%;
      left: 15%;
  }
    
  .dataButtons5, .dataButtons8 { /*Configuração - Participantes e Modalidades*/
      bottom: 33%;
      left: 15%;
  }

  #okButton { /*Configuração - Olimpíadas 2016*/
    bottom: 24%;
    left: 35%;
}
 
 #okButton2, #okButton3 { /*Configuração - Participantes e Modalidades*/
      bottom: 24%;
      left: 35%;
  }

  #selectTheOptions1 { /*Configuração - Olimpíadas 2016, Participantes e Modalidades*/
    font-size: 12px;
    bottom: 48%;
}
  
  #selectTheOptions2, #selectTheOptions3 { /*Configuração - Olimpíadas 2016, Participantes e Modalidades*/
      font-size: 12px;
      bottom: 62%;
  }
    
 /*------------Responsivo tabela - configuração geral-------------------------*/
  table {
    width: auto;
    height: auto;
    font-size: 10px;
} 

td, th {
  padding: 5px;
}

th {
  font-size: 25px;
}

th {
  font-size: 15px;
}

}