@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.initial-home {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: #d68d04;
    background-image: url("image/home-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.types{
  background-color: #EEEEEE;
}

.position-header {
    display: flex;
    justify-content: flex-end;
    padding-top: 4em;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
    background-color: #ffb004;
    width: 40vw;
    height: 11vh;
    border-radius: 10px 0 0 10px;    
}

.options-menu {
    font-size: 32px;
    font-weight: 800;
    color: #000000;
    cursor: pointer;
    padding: 5px;
}

main {
    padding: 15px;
}