@import url('https://fonts.googleapis.com/css?family=Merriweather');
@font-face {
    font-family: "Harry";
    src: url("HARRYP__.TTF") format("truetype");
}

body {
  background-image: url(harry.jpeg);
  background-size: cover;
}

h1 {
  font-family: "Harry";
  text-align: center;
  font-size: 50px;
  color: rgb(238, 185, 52);
  text-shadow:
      -1px -1px 0px rgb(25, 12, 48),
      -1px 1px 0px rgb(47, 21, 77),
       1px -1px 0px rgb(36, 19, 77),
       1px 0px 0px rgb(39, 16, 75);
  letter-spacing: 2px;
}

p {
  letter-spacing: 1px;
  text-align: justify;
  font-family: "Harry";
  font-size: 25px;
  line-height: 28px;
  margin-top: 10px;
  color: rgb(238, 185, 52);
}

.paragrafo {
  width: 500px;
  margin: auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #ccc;
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Harry";
  color: rgb(238, 185, 52);
  text-shadow:
      -1px -1px 0px rgb(25, 12, 48),
      -1px 1px 0px rgb(47, 21, 77),
       1px -1px 0px rgb(36, 19, 77),
       1px 0px 0px rgb(39, 16, 75);
  letter-spacing: 2px;
  text-align: center;
}

.card p {
  text-align: justify;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:
      -1px -1px 0px rgb(25, 12, 48),
      -1px 1px 0px rgb(47, 21, 77),
       1px -1px 0px rgb(36, 19, 77),
       1px 0px 0px rgb(39, 16, 75)
}

.card-container {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}
