@import url('https://fonts.googleapis.com/css?family=Merriweather');
@font-face {
    font-family: "Harry";
    src: url("HARRYP__.TTF") format("truetype");
}

body {
  background-image: url(harry.jpeg);
  background-size: cover;
}

h1 {
    text-align: center;
    font-family: "Harry";
    font-size: 50px;
    color: gold;
    font-weight: normal;
    margin-top: 10px;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow:
      -1px -1px 0px rgb(25, 12, 48),
      -1px 1px 0px rgb(47, 21, 77),
       1px -1px 0px rgb(36, 19, 77),
       1px 0px 0px rgb(39, 16, 75)
}

#input-pocoes {
    height: 30px;
    font-size: 16px;
    position:relative;
    width: 300px;
    margin: auto;
}

#botao-pocoes {
  background-color: gold;
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card2 {
  width: 350px;
  height: 350px;
  perspective: 1000px; /* Define a perspectiva para a animação 3D */
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #ccc;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1)

}

.card-info2 {
  padding: 20px;
  transform: rotateY(0deg);
}

.card-info2 h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Harry";
  color: gold;
  letter-spacing: 2px;
}

.card-info2 p {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:
      -1px -1px 0px rgb(25, 12, 48),
      -1px 1px 0px rgb(47, 21, 77),
       1px -1px 0px rgb(36, 19, 77),
       1px 0px 0px rgb(39, 16, 75)
}

.card-info2 a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #009688;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

