/*css types pokemons*/

.types-pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
  margin: 100px;
  padding: 100px;
}

.type-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  box-shadow: 1 1 50 rgb(0 0 0 /80%);
  cursor: pointer;
}

.bug {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.dragon {
  background: rgb(199, 68, 45) url("image/dragon.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.electric {
  background: rgb(146, 75, 75) url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.fighting {
  background: brown url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;

}

.fire {
  background: orangered url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;

}

.flying {
  background: lightskyblue url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;

}

.ghost {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;

}

.grass {
  background: lightgreen url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;

}

.ground {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.ice {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.normal {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.poison {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.psychic {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.rock {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

.water {
  background: lightgray url("image/bug.png") no-repeat;
  background-size: 50%;
  background-position: center;
}

footer{
  margin-top: 100px;
}
